<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingsongxyz.mapper.MarketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qingsongxyz.pojo.Market">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
        <collection property="marketDetailsVOList" javaType="ArrayList" ofType="com.qingsongxyz.vo.MarketDetailsVO">
            <id column="mdId" property="id" />
            <result column="market_id" property="marketId" />
            <result column="good_id" property="goodId" />
            <result column="good_name" property="goodName" />
            <result column="good_image" property="goodImage" />
            <result column="good_score" property="goodScore" />
            <result column="count" property="count" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, create_time, update_time, deleted, version
    </sql>

    <select id="getMarketByUserId" resultMap="BaseResultMap">
        select
            *
        from
            (select
                id, user_id
            from
                market
            where
                deleted = 0) a
        left join
            (select
                m.id, m.user_id, md.id mdId, md.market_id, md.good_id, md.good_name, md.good_score, md.good_image, md.count
            from
                market m
            left join
                market_details md
            on
                m.id = md.market_id
            where
                m.deleted = 0 and md.deleted = 0) b
        on
            a.id = b.market_id
        <where>
            <if test="userId != null">
                a.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getMarketDetailsCountByUserId" resultType="Integer">
        select
            count(*)
        from
             market m
        left join
            market_details md
        on
            m.id = md.market_id
        where
            m.deleted = 0 and md.deleted = 0
        <if test="userId != null">
            and m.user_id = #{userId}
        </if>
    </select>

</mapper>
